{% load static %}
<section id="about" class="about">
      <div class="container">
        <div class="section-title">
        {% for about in abouts %}
          <h2>{{ about.title }}</h2>
          <p> {{ about.description }}</p>
        </div>
        {% endfor %}

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{% static 'frontend/assets/img/mypic.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            {% for about in abouts %}
            <h3>{{ about.name}}</h3>
            <p class="fst-italic">
              My Bio-details are;
            </p>
            <div class="row">
              <div class="col-lg-8">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>{{ about.phone}}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>{{ about.address}}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>LinkedIn:</strong> <span>{{ about.linkedIn}}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>{{ about.age}}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>{{ about.degree}}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>{{ about.email}}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>GitHub:</strong> <span>{{ about.git_hub}}</span></li>
                </ul>
              </div>
            </div>

          </div>
        </div>
        {% endfor %}
      </div>
</section>
